/*//META{"name":"Rubii'z Vertical Sakura Scheme","description":"Vertical Server Version: Sakura modified by Rubii, this is a modified combination of 2 themes... NotAnotherAnimeThemeSCSL, Material Theme; make sure you're up to date with the OG creators. The removal of the third theme means you can NO LONGER select server size","author":"Modified by RubikPaladin#0003","version":"4.77", "website":"https://github.com/RubikPaladin/sakura-theme", "source":"https://rubikpaladin.github.io/sakura-theme/vertical-server-base.css"}*//**/

@import url(https://rubikpaladin.github.io/sakura-theme/vertical-server-base.css);
:root { 

        /* i keep the text a lil smoll so if u want to make it bigger the var is below */


        /* Edit this to change your background *
        --background-image: url(https://i.imgur.com/hLulxgq.png);
	
        /* home button pic - a square is better*
        --friends-icon: url(https://i.imgur.com/ky3iygN.png); 
        
        /* server icon size - default: 55 *
        --HSL-size: 50px;
        
        /* Change global transparency */
        --main-transparency: rgba(0, 0, 0, .7);		/* default: rgba(0, 0, 0, 0.8); */
        
        /* Change chat messages font size, you can use any unit: px, em, rem, %, etc. */
        --font-size: 14px; 							/*default: 16px */
        
        /* colour for member/server  "Categories" 
            my Home Button (messages/friend icon) is set to a similar colour as the title colour
            if u change the title colour, i would follow the "--friends-icon" link, change the colour of it
            to ur title colour, upload it to imgur and add it here for continuity */
        --title-color: rgba(132, 96, 75, 1);  /* 255,190,152, .4 - 200,152,103, .45 - rgba(193,145,96, .6)*
        
            note: alot of colour variables are tied to "--accent-colour" but u may uncouple them */
        --accent-colour: rgba(236, 212, 225, 1); 		/* mostly used on text (i.e all the smol white icons and text turn a light pink)*/
        
        /* the rainbow notification bar requires a color start point */
        /* this is a dim purple one but u can make it brighter and more colourful */
        --rainbow-seed: rgba(255,120,255, .4);/* default: --main-color or --title-color; */
        


        /*  
            The full theme has some 200+ variables, if u want to customize the theme more specifically 
            just copy the `import` link into your browser or click "CSS Source" in the themes menu
            take a look around, pull variables u like over here or into the custom CSS
            and modify them as u please




            Last Update - 77th commit
        */
}
