@import url(https://rubikpaladin.github.io/sakura-theme/server-base/vertical-server-base.css);


div.da-base main.da-chatContent::after {
    content: "  please update your theme file:                                               Days Untill Legacy Support is Dropped:  1h \a\a   go to settings > themes > click 'Theme Home Page' under my theme \a   download the updated SakuraHorizontal.theme.css or SakuraVertical.theme.css";
    display: block;
    line-height:13px;
    font-size:14px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-weight: 500;
    margin-top:-10px;
    margin-left: 15px;
    white-space: pre;
    color: var(--secondary-color);
	padding: 2px;
	background: #11f;
	margin-right: 15px;
}


